* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: #F55A5A;
  justify-content: center;
}

.nav--logo {
	height: 1.em;
	padding: 0 1.5em;
  
}

.h1--logo {
  color: white;
  margin: 0;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: -0.015em;
  padding: 0.18em;
}

.cards-list {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
	background-color: #fffbf4;
	border-radius: 10px;
}

.card {
	color: #2B283A;
	display: flex;
	padding: 3em;
}

.card--image {
  /* Rectangle 77 */

	margin-right: 3em;
  width: 28vh;
	border-radius: 9px;
	margin-bottom: 9px;

}

.title {
  /* Norway */

	font-size: 2em;
	font-weight: 700;
	margin-top: 0.45em;


}

.location {
  text-transform: uppercase;
	letter-spacing: 0.2em;
	padding-left: 0.4em;
	padding-right: 1em;
}